* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-header {
    background-color: transparent;
}

#brand_image {
    border-radius: 50%;
    display: inline-block;
    margin-top: -20%;
    justify-content: center;
}

.navbar-nav a {
    color: white;
    background-color: #555759;
}

.navbar-nav a:hover {
    color: black;
}

.navbar-right a {
    font-size: 11px;
    border-left: 1px solid black;
    opacity: 0.5;
}

.navbar-brand {
    display: inline-block;
    margin: auto;
    display: flex;
}

.icon-bar {
    border: 1px solid black;
}

.banner {
    width: 100vw;
    height: 100vh;  
    background-image: url("./images/model-face-beautiful-black-and-white-407035.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#main_slogan {
    text-transform: uppercase;
    color: #646568;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 25%;
}

.row.banner .row {
    margin-top: 1%;
}

#submain_slogan {
    text-transform: uppercase;
    color: #cc946a;
    text-align: center;
}

#clinic, #face {
    display: block;
    margin: 20% auto;
    border-radius: 50%;
    opacity: 0.7;
}

.row.banner .col-xs-6 {
    margin-top: 14%;
}

.call_to_action-left {
    background-image: url("./images/girl-beauty-beautiful-great-160519.jpeg");
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    margin: auto;
    opacity: 0.7;
}

.call_to_action-right {
    background-image: url("./images/pexels-photo-305565.jpeg");
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    margin: auto;
    opacity: 0.7;
}
 
h4 {
    margin: auto;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}

.col-xs-6 a {
    display: flex;
    text-decoration: none;
}

.welcome {
    padding-top: 400px;
    background: url('./images/wellness-massage-relax-relaxing-56884.jpeg');
    opacity: 0.4;
    background-size: cover;
    background-color: #5e6066;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(0 -20%, 50% 0, 100% -20%, 100% 120%, 50% 100%, 0 120%);
    clip-path: polygon(0 -20%, 50% 0, 100% -20%, 100% 120%, 50% 100%, 0 120%);
}

@media screen and (min-width: 355px){
    .row.banner .col-xs-6 {
        margin-top: 17%;
    }

    #main_slogan {
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media screen and (min-width: 380px){
    .row.banner .col-xs-6 {
        margin-top: 10%;
    }

    #main_slogan {
        padding-top: 20%;
    }
}

@media screen and (min-width: 505px){
    .row.banner .col-xs-6 {
        margin-top: 5%;
    }

    #main_slogan {
        padding-top: 12%;
    }
}

@media screen and (min-width: 585px){
    #main_slogan {
        padding-top: 10%;
    }

    .row.banner .col-xs-6 {
        margin-top: 5%;
    }
}

@media screen and (min-width: 610px){
    .call_to_action-left, .call_to_action-right {
        width: 180px;
        height: 180px;
    }

    h4 {
        letter-spacing: 4px;
        font-size: 1.8em;
    }

    #main_slogan {
        padding-top: 5%;
    }
}

@media screen and (min-width: 700px){
    .row.banner .col-xs-6 {
        margin-top: 2%;
    }
}

@media screen and (min-width: 768px){
    .row.banner .row {
        margin-top: 30%;
        margin-left: -30%;
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-nav a {
        font-size: 10px;
        background-color:transparent;
        color: black;
    }

    #main_slogan {
        letter-spacing: 1px;
        text-align: left;
    }

    #submain_slogan {
        text-align: left;
    }

    .call_to_action-left {
        width: 105px;
        height: 105px;
        margin-top: 60%;
    }

    .call_to_action-left h4 {
        letter-spacing: 1px;
        font-size: 14px;
    }

    .call_to_action-right {
        width: 280px;
        height: 280px;
        margin-top: 40%;
    }

    .call_to_action-right h4 {
        font-size: 26px;
    }
}